<style type="text/css">
<!--
/* MessageFormat template for CSS Style-Sheet */

//-->
A	'{
		font-weight: bold;
		}'
A:link	'{
		color: #0000A0;
		text-decoration: none;
		}'
A:visited	'{
		color: #0000A0;
		text-decoration: none;
		}'
A:hover	'{
		color: #CC0000;
		text-decoration: underline;
		}'

.titlebar '{
		vertical-align: middle; font-weight: bold; background-color: rgb(220, 220, 255);
		}'

.highlightedrow '{
		background-color: rgb(240, 255, 255);
		}'

</style>
