**/*.iml
*.log
.cdsettings
.connections
.exportdata.ui
.idea/
.selecteddatamodel
.uisettings
!datamodel/Demo-Sakila
!datamodel/Demo-Scott
datamodel/*
out/
tmp/
/bin/
.browserschemamaps.ser
.history
.lastcuats
.lastsession
.pathhistory
by-example/
render/
bookmark/
scratch/
script/
jailer.xml
downloads/
nbproject/build-impl.xml
condition/
nbproject/