<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="A1" target="SYSTEM_OUT" direct="false" follow="true">
            <PatternLayout pattern="%d [%t] %-5p - %m%n" />
        </Console>
        <RollingFile name="A3" fileName="${sys:logdir:-}sql.log"
                    filePattern="${sys:logdir:-}sql-%i.log">
	        <PatternLayout>
	            <Pattern>%d [%t] %-5p - %m%n</Pattern>
	        </PatternLayout>
	        <Policies>
				<SizeBasedTriggeringPolicy size="20 MB"/>
	        </Policies>
	        <DefaultRolloverStrategy max="10"/>
   		</RollingFile>
        <RollingFile name="A4" fileName="${sys:logdir:-}jailer.log"
                    filePattern="${sys:logdir:-}jailer-%i.log">
	        <PatternLayout>
	            <Pattern>%d [%t] %-5p - %m%n</Pattern>
	        </PatternLayout>
	        <Policies>
				<OnStartupTriggeringPolicy />
	            <SizeBasedTriggeringPolicy size="2 MB"/>
	        </Policies>
	        <DefaultRolloverStrategy max="10"/>
   		</RollingFile>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="A1" />
        </Root>
        <Logger  name="net.sf.jailer" level="info" additivity="false">
            <AppenderRef ref="A1" />
            <AppenderRef ref="A3"/>
            <AppenderRef ref="A4"/>
        </Logger >
        <Logger  name="sql" level="debug" additivity="false">
            <AppenderRef ref="A3"/>
            <AppenderRef ref="A4"/>
        </Logger >
    </Loggers>
</Configuration>
